.welcomeCard {
  background: white !important;
  opacity: 95%;
  position: relative;
  flex-direction: column;
  height: 50%;
  display: flex;
  bottom: -20%;
  left: 25%;
  border-radius: 15px;
  border-style: double;
  border-color: grey;
}
.cardText {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 5%;
  width: 90%;
}
.card-img-top {
  width: 100%;
  height: 70%;
  object-fit: contain;
}
.nextButton {
  border-radius: 12px;
}
.nextButton:hover {
  color: rgb(62, 0, 128);
  background-color: bisque;
  border-radius: 12px;
}
