.footerDesign {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 150%;
  height: 5%;
  opacity: 100%;
  background: radial-gradient(
      circle at center,
      rgb(182, 229, 246),
      rgb(224, 60, 60),
      rgb(118, 118, 239)
    ),
    100%;
}
