.imageAndInfo {
  display: grid;
  position: relative;
  grid-template-rows: repeat(auto-fit, minmax(30%, 1fr));
}

.popularFilmsDesign {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
  grid-gap: 60%;
  min-width: 50%;
  position: absolute;
  color: black;
  top: 25%;
  width: 20%;
  height: 20%;
  margin-left: 17%;
  background-color: white;
}
.movieInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.welcomeCard {
  background: white !important;
  opacity: 95%;
  position: relative;
  bottom: 190%;
  left: 15%;
  border-radius: 15px;
  border-color: grey;
  border-style: double;
  height: 50%;
}
