.popularFilmsDesign {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
  grid-gap: 36%;
  min-width: 50%;

  position: absolute;
  color: black;
  top: 25%;
  width: 20%;
  height: 20%;
  margin-left: 17%;
  background-color: white;
}
.movieInfo {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
